<h2>Searching for - <%= @search_term %></h2>
<h3>Start a new search -
<%= form_tag(root_path, :method => "get") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
<% end %></h3>

<table border="1">
	<tr>
		<th>Image</th>
		<th>Title</th>
		<th>Social Rank</th>
	</tr>
	<% @recipes.each do |recipe| %>
		<tr class=<%= cycle('even', 'odd') %>>
			<td><%= link_to(image_tag(recipe["image_url"], size: "50"), recipe["source_url"])%></td>
			<td><%= link_to sanitize(recipe["title"]), recipe["source_url"] %></td>
			<td><%= recipe["social_rank"] %></td>
		</tr>
	<% end %>
</table>
